<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{site.title}} | Let's Learn {{page.title}}</title>
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700|Raleway" rel="stylesheet"> 
	<link rel="stylesheet" href="/css/main.css">
</head>
<body>
	<header class="post-header" {% if page.image %}style="background-image: url('/img/{{page.image}}')"{% endif %}>
	  <nav>
	    <div class="container">
	      <a href="{{site.url}}" class="brand"><span></span>//DevStache</a>
				{% for category in site.categories %}
					<a href="{{baseurl}}/categories/{{category[0] | downcase}}">{{category[0]}}</a>
				{% endfor %}	      
				<a href="#0">The Glossary</a>
	    </div>
	  </nav>
	  
	  <div class="main-heading">
	    <h1>Let's Learn {{page.category}}</h1>
	  </div>
	  
	  <div class="overlay"></div>
	</header>