<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700|Raleway" rel="stylesheet"> 
	<link rel="stylesheet" href="/css/main.css">
</head>
<body>
	<header>
	  <nav>
	    <div class="container">
	      <a href="#0" class="brand"><span>//</span>MattCraig</a>
	      <a href="#0">Let's Learn</a>
	      <a href="#0">Let's Build</a>
	      <a href="#0">The Glossary</a>
	    </div>
	  </nav>
	  
	  <div class="main-heading">
	    <h1>Let's add unecessary stuff to the web together.</h1>
	  </div>
	  
	  <div class="overlay"></div>
	</header>