<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{site.title}} | {{page.title}}</title>
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700|Raleway" rel="stylesheet"> 
	<link rel="stylesheet" href="/css/main.css">
</head>
<body>
	<header class="post-header">
	  <nav>
	    <div class="container">
	      <a href="#0" class="brand"><span>//</span>MattCraig</a>
	      <a href="#0">Let's Learn</a>
	      <a href="#0">Let's Build</a>
	      <a href="#0">The Glossary</a>
	    </div>
	  </nav>
	  
	  <div class="main-heading">
	    <h1>{{page.title}}</h1>
	    <p>Written on {{page.date | date: "%B %e, %Y"}}</p>
	  </div>
	  
	  <div class="overlay"></div>
	</header>