main {
  padding: 4rem 0;
}

main p {
  padding-bottom: 1.5rem;
}

article {
  margin-bottom: 3rem;
  display: flex;
}

.post-thumbnail {
  max-width: 15%;
}

.post-preview {
  margin-left: 1rem;
}

article h2 {
  margin-bottom: 1rem;
}

article a {
  color: $secondary-type-color;
}

article a:hover {
  text-decoration: underline;
}


