main {
  padding: 4rem 0;
}

main p {
	padding-bottom: 1.5rem;
}

article {
  margin-bottom: 3rem;
}

article h2 {
  margin-bottom: 1rem;
}

article a {
  color: $secondary-type-color;
}

pre {
	background: #222;
	width: 60%;
	height: calc(20vw * 1.3);
	margin: 0 auto;
	color: #eee;
	border-radius: 3px;
	overflow: auto;
	padding-left: 1rem;
	margin-bottom: 1rem;
}