footer {
  text-align: center;
  height: 4rem;
  background: $secondary-bg;
  color: $tertiary-type-color;
}

.heart {
  color: $heart;
}

footer a {
  color: $main-bg;
  text-decoration: underline;
}
