*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
nav .container,
footer {
  display: flex;
}

body {
  font-family: $primary-font-stack;
  flex-direction: column;
  background: $main-bg;
  color: $main-type-color;
  position: relative;
  line-height: calc(100% * 1.618);
}

.content {
  flex: 1;
}

.container {
  width: 80vw;
  margin: 0 auto;
}

header,
footer {
  align-items: center;
  justify-content: center;
}

h1,
h2 {
  font-family: $secondary-font-stack;
  padding-bottom: 1rem;
}

a {
  text-decoration: none;
}

pre,
code {
  font-size: 15px;
  border: 1px solid #828282;
  border-radius: 3px;
  background-color: #eef;
}

code {
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: auto;
}

pre code {
  border: 0;
  padding-right: 0;
  padding-left: 0;
}
