header {
  height: 80vh;
  display: flex;
  background-color: $overlay-bg;
  background-blend-mode: overlay;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: $secondary-bg;
  opacity: 0;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 5rem;
  background: $secondary-bg;
  z-index: 1;
  transition: $transition-timing height, $transition-timing box-shadow;
}

.nav-scrolled {
  height: 3.5rem;
  box-shadow: 0 0 20px 2px $shadow;
}

.main-heading {
  color: $main-bg;
  width: 60vw;
  margin: 0 auto;
  opacity: 1;
}

.main-heading p {
  margin-bottom: 2rem;
}

.main-heading small {
  margin-top: 1rem;
  display: block;
  opacity: 0.5;
}

.most-recent-link {
  background: $secondary-bg;
  color: $main-bg;
  padding: 1.3rem;
  transition: $transition-timing background;
}

.most-recent-link:hover {
  background: lighten($secondary-bg, 3%);
}

.link-container {
  z-index: 1000;
}

nav .container {
  height: 100%;
  align-items: center;
}

.brand {
  margin-right: auto;
}

nav .container a {
  color: $main-bg;
}

nav .container a:not(.brand) {
  margin-left: 1rem;
}
