header {
  height: 60vh;
  display: flex;
  background-image: url("https://picsum.photos/1600/900?image=0");
  background-color: $overlay-bg;
  background-blend-mode: overlay;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: $secondary-bg;
  opacity: 0;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 5rem;
  background: $secondary-bg;
  z-index: 1;
  transition: .3s height;
}

.nav-scrolled {
  height: 3.5rem;
  box-shadow: 0 0 20px 2px rgba(0, 0, 0, .7);
}

.main-heading {
  color: $main-bg;
  text-align: center;
}

nav .container {
  height: 100%;
  align-items: center;
}

.brand {
  margin-right: auto;
}

nav .container a {
  color: #eee;
}

nav .container a:not(.brand) {
  margin-left: 0.5rem;
}