// Color Pallate
$main-bg: #eee;
$secondary-bg: #445C6D;
$main-type-color: #222;
$secondary-type-color: $secondary-bg;

// Typography
$primary-font-stack: 'Raleway,' sans-serif;
$secondary-font-stack: 'Montserrat', sans-serif;